
.dashboard-main-container{
    height: 100vh;
    display: flex;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding:20px;
    height: 100vh;
    background-color: #E9E8E8;
    color:black;
    width: 80vw;
}
.dashboard-filter-container{
    display: flex;
    align-items: center;
}

.select-element-container{
    padding:10px;
    border-radius: 8px;
    border:none;
}

.dashboard-filter-container-heading{
    margin-right:10px;
    font-size:16px;
}

.dashboard-all-tasks-container{
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:10px;
    flex-grow: 1;
    
}
.taskCard-body{
    text-align: center;
}

.dashboard-task-container{
    width:30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 30%;
    padding:10px;
}

.unorder-list-task{
    list-style-type: none;
    padding:0px;
}
.taskCard-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.todo-line{
    border:1px solid blue;
}
.inProgress-line{
border:1px solid orange;
}

.done-line{
border:1px solid green;
}
.todoCount-para{
    height:30px;
    width:30px;
    background-color: blue;
    color:white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inprogressCount-para{
  height:30px;
    width:30px;
    background-color: orange;
    color:white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.doneCount-para{
  height:30px;
    width:30px;
    background-color: green;
    color:white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}