
.dashboard-sideBar-container{
    min-width: 20vw;
    height: 100vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color:white;
    padding:30px 10px;
}


.dashboard-sideBar-buttons{
    display:flex;
    flex-direction: column;
}


.dashboard-sideBar-button2{
    background-color: transparent;
    border:1px solid white;
    color:white;
    padding:10px;
    border-radius: 8px;
}